<div class="head-panel" (swiperight)="swipe($event, -1)" (swipeleft)="swipe($event, 1)" >
    <div class="container-fluid"> 
        <div class="row" > 
            <div class="col-4">
                <h5  class="h5-caption" style="text-align: center" [innerHTML]="index_type.emoji"></h5>
            </div>
            <div class="col-8">
                <div class="row" >
                    <div class="col-12">
                        <h5 style="text-align: left">{{index_type.caption}}</h5>
                    </div>
                    <div class="col-12">
                        <mat-form-field style="text-align: left" >
                            <input matInput [matDatepicker]="picker" (ngModelChange)="date_changed()" placeholder="Choose a date" [(ngModel)]="current_date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
<!--style="background: firebrick; overflow: scroll" (window:resize)="onResize($event)" [style.width]="innerWidth + 'px'" [style.height]="innerHeight + 'px'"-->
<div class="content-panel">
    <div class="container-fluid"> 
        <div [ngSwitch]="index.tracking">
            <div *ngSwitchCase="'day-parts'">
                
                <div class="row" > 
                    <div class="col-3 col-sm-3 col-md-2 col-lg-2" *ngFor="let day_part of index.day_parts; let i=index" style="text-align: center">
                        <app-number-selection height="190px" (valuechange)="save_index()" [label]="day_part.part" [optional_values]="optional_values" [(ngModel)]="day_part.value"></app-number-selection>
                        <button mat-icon-button color="warn" (click)="delete_time(i)"><mat-icon>delete</mat-icon></button>
                    </div>
                    <div class="col-3 col-sm-3 col-md-2 col-lg-2" style="text-align: center">
                            
                        <div style="padding-top: 100%">
                            
                            <app-time-selection [id]="i" (valuechange)="add_time()" [(ngModel)]="time_to_add" style="text-align: center"></app-time-selection>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div *ngSwitchCase="'sample'">
                    sample
            </div>
            <div *ngSwitchCase="'sample'">
                    sample
            </div>
            <div>
                <label style="font-size: 8px">Last updated on: {{index.last_update}}</label>
            </div>
        </div>
    </div>
</div>
<div class="btn-panel">
    <div class="container-fluid"> 
        <div class="row" style=""> 
            <div class="col-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px">
                <div class="button-row" style="text-align: left">
                    <button mat-icon-button [color]="'primary'" (click)="open_chart()"><mat-icon>insert_chart</mat-icon></button> 
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px">
                <div class="button-row" style="text-align: right">
                    <button mat-icon-button [color]="'primary'" (click)="goBack()"><mat-icon>replay</mat-icon></button> 
                </div>
            </div>
        </div>
    </div>
</div>
