<div [ngClass]="show_head_panel ? 'head-panel' : 'no-head-panel'">
  
  <mat-grid-list cols="17" rowHeight="60px">
    <mat-grid-tile colspan="1" rowspan="1">
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="1">
      <mat-form-field style="width:100%">
        <mat-select #category (selectionChange)="category_changed()" [(ngModel)]="selected_category">
          <mat-option *ngFor='let category of categories' [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
    </mat-grid-tile>
    <mat-grid-tile colspan="7" rowspan="1">
      <mat-form-field style="width:100%">
        <mat-select #sub_category [(ngModel)]="selected_sub_category">
          <mat-option *ngFor='let sub_category of sub_categories' [value]="sub_category">{{sub_category}}</mat-option>
        </mat-select> 
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!-- style="overflow: scroll" (window:resize)="onResize($event)" [style.width]="innerWidth + 'px'" [style.height]="innerHeight + 'px'"-->
<div [ngClass]="show_head_panel ? 'content-panel' : 'content-no-head-panel'">
  <div class="container-fluid">
    <div class="row">            
      <div ngClass="col-6 col-sm-4 col-md-3 col-lg-3" style="padding: 5px">
        <div class="box-shadow" style="height: 100%">
          <div style="text-align: center;padding:5px" (click)="new_index()">
            <h5 class="h5-caption" color="primary">🆕</h5>
            <span><h6 style="text-align: center;word-wrap: break-word;height: 45px"  >Create New Index</h6></span>
            <span style="font-size: 10px"></span>
          </div>
          <div style="text-align: right">
            
          </div>
          
        </div>
      </div>

      <div ngClass="col-6 col-sm-4 col-md-3 col-lg-3" *ngFor="let index_type of (indices_types | indices_filter : show_hidden:selected_category:selected_sub_category | indices_sort)" style="padding: 5px">
        <div class="box-shadow" style="height: 100%">
          <div style="text-align: center;padding:5px" (click)="navigate(index_type)">
            <h5 class="h5-caption"  [innerHTML]="index_type.emoji"></h5>
            <span><h6 style="text-align: center;word-wrap: break-word;height: 45px"  >{{index_type.caption}}</h6></span>
            <span style="font-size: 10px">{{index_type.category}}/{{index_type['sub-category']}}</span>
          </div>
          <div style="text-align: right">
            <button mat-icon-button color="primary" (click)="clone_index(index_type)"><mat-icon>file_copy</mat-icon></button>
            <button mat-icon-button color="primary" (click)="edit_index(index_type)"><mat-icon>edit</mat-icon></button>
            
          </div>
          
        </div>
      </div>

      

    </div>
  </div>
</div>

<div class="btn-panel">
  <div class="container-fluid"> 
    <div class="row" style=""> 
      <div class="col-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px">
        <div class="button-row" style="text-align: left">
          <button mat-icon-button [color]="show_hidden ? 'warn' : 'primary'" (click)="show_hidden = !show_hidden"><mat-icon>block</mat-icon></button>
          <button mat-icon-button [color]="'primary'" (click)="toggle_filter()"><mat-icon>filter_list</mat-icon></button> 
          <button mat-icon-button [color]="'primary'" (click)="open_chart()"><mat-icon>insert_chart</mat-icon></button> 
        </div>

      </div>
    
      <div class="col-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px">
        <div class="button-row" style="text-align: right">
        </div>
      </div>
    </div>
  </div>
</div>