<div [ngClass]="'content-no-head-panel'">
  <div (swiperight)="swipe($event, -1)" (swipeleft)="swipe($event, 1)" >
    <br>
    <div style="text-align: center">
        <br>
        <h2>{{index_caption}}</h2>
        <br>
        <h5 class="h5-caption" [innerHTML]="index_emoji"></h5>
        <br>
        <br>
    </div>
    <div>
      <canvas  #myCanvas>{{ chart }}</canvas>
    </div>
    
  </div>
</div>

<div class="btn-panel">
    <div class="container-fluid"> 
        <div class="row" style=""> 
            <div class="col-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px">
                <div class="button-row" style="text-align: left">
                    
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0px">
                <div class="button-row" style="text-align: right">
                    <button mat-icon-button [color]="'primary'" (click)="goBack()"><mat-icon>replay</mat-icon></button> 
                </div>
            </div>
        </div>
    </div>
</div>